html, body {
	overflow-x: hidden;
	width: 100%;
	text-align: inherit;
}

.row, h2 {
  margin-bottom: 15px !important;
}

.material-icons {
  color: #195a7c;
}

h2 {
  margin-top: 30px;
  letter-spacing: .5px;
}

.popover-body {
	background: url("https://sift.com/image/sift-edu/prevent-fraud/avs-cvv/cvv-visa-2x.png");
	background-size: 70%;
	background-position: bottom;
	background-repeat: no-repeat;
	/* width: 64px; */
	height: 74px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.form-control:focus {
	border-color: #195a7c;
	-webkit-box-shadow: 0px 0px 0px 2px rgba(25,90,124,0.4);
	-moz-box-shadow: 0px 0px 0px 2px rgba(25,90,124,0.4);
	box-shadow: 0px 0px 0px 2px rgba(25,90,124,0.4);
}

#bmt_cart {
	top: 0;
}
#bmt_dismissbutton a {
	color: #ffffff !important;
}
#bmt_dismissbutton a:hover {
	color: #000000 !important;
	transition: .3s ease-in-out;
}

@media (max-width: 768px) {
  .form-control {
    font-size: 1.5rem !important;
  }
  .material-icons {
    font-size: 28px !important;
  }
  .media-input {
    margin-bottom: 15px !important;
  }
}
