html, body {
	overflow-x: hidden;
	width: 100%;
	text-align: inherit;
}

.row, h2 {
  margin-bottom: 15px !important;
}

.material-icons {
  color: #195a7c;
}

h2 {
  margin-top: 30px;
  letter-spacing: .5px;
}

@media (max-width: 768px) {
  .form-control {
    font-size: 1.5rem !important;
  }
  .material-icons {
    font-size: 28px !important;
  }
  .media-input {
    margin-bottom: 15px !important;
  }
}
